<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <p>This page allow working with Auctions</p>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
            <app-users (outputEvent)= "onComponentChange($event)"></app-users>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-currentauction [showCurrent]="showCurrent" [showMinimum]="showMinimum" [currentAuction]="currentAuction"></app-currentauction>
    </div>
  </div>
</div>

